body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

header {
    background-color: rgb(75, 0, 75);
    color: #fff;
    padding: 15px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

a {
    color: white;
    text-decoration: none;
}

h1 {
    margin: 0;
}

.containt {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 50px auto;
}

.board {
    justify-content: left;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.view-units {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #000000;
    box-shadow: 0 2px 10px white;
    width: 350px;
    height: auto; 
    padding: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    color: white;
    position: relative; 
    margin-left: 10px;
}

.view-pract {
    display: none; 
    flex-direction: column; 
    justify-content: center;
    margin-top: 10px; 
    border: 1px solid black;
    border-radius: 8px;
    background-color: #000000;
    box-shadow: 0 2px 10px white;
    width: auto;
    height: auto; 
    padding: 5px;
}

.view-units:hover .view-pract {
    display: flex; 
}

.practicas {
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: auto;
    height: 40px;
    margin: 5px 0;
    align-items: center;
    text-align: center;
}

.practicas:hover {
    background-color: rgb(75, 0, 75);
}